{% extends 'base.html.twig' %}
{% set metaTags = true %}
{% block metaTagsView %}
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Article">

<!-- Place this data between the <head> tags of your website -->
<title>{{ post.title }}</title>
<meta name="description" content="{{ post.metaDescription }}" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ post.title }}">
<meta itemprop="description" content="{{ post.metaDescription }}">
<meta itemprop="image" content="{{ app.request.uri }}{{ post.imagePath }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="{{ app.request.uri }}{{ post.imagePath }}">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:title" content="{{ post.title }}">
<meta name="twitter:description" content="{{ post.metaDescription }}">
<meta name="twitter:creator" content="@author_handle">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ app.request.uri }}{{ post.imagePath }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.BestOfWebflix.com/" />
<meta property="og:image" content="{{ app.request.uri }}{{ post.imagePath }}" />
<meta property="og:description" content="{{ post.metaDescription }}" />
<meta property="og:site_name" content="Best Of Webflix" />
<meta property="article:published_time" content="{{ post.dateCreated|date('c') }}" />
<meta property="article:modified_time" content="{{ post.lastEdited|date('c') }}" />
<meta property="article:section" content="Article Section" />
{% for tag in post.tags %}
    <meta property="article:tag" content="{{ tag.name }}" />
{% endfor %}
<meta property="fb:admins" content="Facebook numberic ID" />
{% endblock %}
{% block body %}
    {#Pixel#}
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1188675777813870');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1188675777813870&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
    <div class="row">
        <!-- Bread Crumb Start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('blog_main_homepage') }}">Home</a></li>
                {% for genre in post.tags|slice(0,1) %}
                    <li><a href="{{ path('blog_main_genre', { 'id' : genre.id }) }}">{{ genre.name }}</a></li>
                {% endfor %}
                <li class="active">{{ post.title }}</li>
            </ol>
        </div>
        <!-- Bread Crumb End -->
        <!-- Content Column Start -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 equalcol conentsection" style="height: 2542px;">
            <!-- Blog Detail Started -->
            <div class="blogdetail sections">
                {#<div class="row">#}
                {% if post.showImage %}
                    {% if page == 1 %}
                    <div class="bootstrap-carousel">
                        <div class="carousel slide">
                            <img src="{{ post.imagePath }}" alt="" class="img-responsive" />
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {#</div>#}
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 hidden-xs">
                        <div class="avatar">
                            <figure>
                                {% image '@BlogMainBundle/Resources/public/VideoMagazine/images/avatar.gif' output='assets/img/avatar.gif' %}
                                    <img src="{{ asset_url }}" alt="" class="img-responsive" />
                                {% endimage %}
                            </figure>
                            <h5>By Best Of Webflix</h5>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                        <div class="blogtext">
                            <h2 class="heading">{{ post.title }}</h2>
                            <div class="clearfix"></div>
                            <div class="blogmetas">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>{{ post.dateCreated|date('Y-m-d') }}</li>
                                    <li>
                                        <i class="fa fa-align-justify"></i>
                                        {% for genre in post.tags %}
                                            <a href="{{ path('blog_main_genre', { 'id' : genre.id }) }}">{{ genre.name }}</a>
                                        {% endfor %}
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div id="blogbody">
                                {% for blogtext in blogbody|slice( pager,  perPage) %}
                                    {{ blogtext|raw }}
                                {% endfor %}
                            </div>
                            <a href="{{ path('blog_main_post', { 'id' : post.id, 'page' : page - 1 }) }}" type="button" class="btn btn-primary btn-lg backcolor
                            {% if page == 1 %} disabled {% endif %}
                            ">Previous</a>
                            <a href="{{ path('blog_main_post', { 'id' : post.id, 'page' : page + 1 }) }}" type="button" class="btn btn-primary btn-lg backcolor
                            {% if page >= pageMax %} disabled {% endif %}
                            ">Next</a>
                            {% if page >= pageMax %}
                                <a href="{{ path('blog_main_post', { 'id' : nextArticle.id }) }}" type="button" class="btn btn-primary btn-lg backcolor
                            ">Next Article</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Detail End -->
            <div class="clearfix"></div>
            <div id="taboola-below-article-thumbnails"></div>
            <script type="text/javascript">
                window._taboola = window._taboola || [];
                _taboola.push({
                    mode: 'thumbnails-b',
                    container: 'taboola-below-article-thumbnails',
                    placement: 'Below Article Thumbnails',
                    target_type: 'mix'
                });
            </script>
            <div class="clearfix"></div>
            <!-- Contents Section Started -->

            <!-- Relate Posts Start -->
            {#<div class="sections">#}
                {#<h2 class="heading">Related Articles</h2>#}
                {#<div class="clearfix"></div>#}
                {#<div class="row">#}
                    {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">#}
                        {#<figure class="gallery">#}
                            {#<a href="images/img1-big.jpg" class="lightbox-gallery">#}
                                {#<img src="images/img18.jpg" alt="" class="img-responsive hovereffect">#}
                            {#</a>#}
                            {#<figcaption class="backcolor">#}
                                {#<h4><a href="#">Augue phasell penatibus</a></h4>#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
            <!-- Relate Posts End -->
            <!-- Contents Section End -->
            <!-- Contents Section Started -->
            <div class="sections">
                <h2 class="heading">Comments ({{ messages|length() }})</h2>
                <div class="clearfix"></div>
                <div id="comments">
                    {% for message in messages %}
                    <div class="media">
                        {% image '@BlogMainBundle/Resources/public/VideoMagazine/images/avatar1.jpg' output='assets/img/images/avatar1.jpg' %}
                            <img src="{{ asset_url }}" alt="" class="img-responsive" />
                        {% endimage %}
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">{{ message.createdBy.username }}</a></h4>
                            <time datetime="2014-05-12T17:02">{{ message.dateCreated|date('Y-m-d') }}</time>
                            <p>
                                {{ message.message }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Contents Section End -->
            <div class="clearfix"></div>
            <!-- Contents Section Started -->
            <div class="sections">
                <h2 class="heading">Leave Reply</h2>
                <div class="clearfix"></div>
                <div id="leavereply">
                    {% if app.user %}
                        <div class="col-md-8">
                            {{ form(form) }}

                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Contents Section End -->
            <div class="clearfix"></div>
        </div>
        <!-- Content Column End -->
        <!-- Gray Sidebar Start -->
        {{ render(controller('BlogMainBundle:Post:sidebar', { 'post' : post })) }}
        <!-- Gray Sidebar End -->
    </div>
{% endblock body %}
{% block customJavascripts %}
    <script type="text/javascript">
        $(function () {
            var redirectLink = "{{ path('blog_main_post_redirect', {'id' : post.id }) }}";
            $('#blogbody').find('a').each(function(e) {
                var link = $(this).attr('href'),
                    newLink = redirectLink + "/" + link;
                $(this).attr('href', newLink);
                event.preventDefault();
            });
        });
        $(window).scroll(function () {
            var scrollTop  = $(window).scrollTop(),
                    elementOffset = $('#facebookLikes').offset().top,
                    distance      = (elementOffset - scrollTop),
                    facebookHeight = $('#facebookLikes').height(),
                    sidebarHeight = ($('#sidebarContent').height() - facebookHeight) * -1,
                    bodyHeight = ($('body').height());
                console.log(distance);
                console.log(elementOffset);
                console.log(sidebarHeight);
                console.log(facebookHeight);
                console.log(bodyHeight);
            if (distance < 0) {
                if (distance > sidebarHeight) {
                    var distanceUse = distance * -1 + "px";
//                    $('#facebookLikes').css({
//                        'padding-top': distanceUse
//                    });
                }
            } else {
//                $('#facebookLikes').css({
//                    'padding-top': 0
//                });
            }
        });
    </script>
{% endblock %}