<div id="postSideBar" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 equalcol graysidebar" style="">
    <div id="buffer" class="widget"></div>
    <div class="clearfix"></div>
    <!-- Like Us start -->
    <div id="facebookLikes" class="widget">
        <h2 class="heading">Like Us On Facebook</h2>
        <div class="commentslist">
            <ul>
                <li>
                    <div style="" class="fb-like" data-href="https://www.facebook.com/Best-Of-Webflix-999625316764737/?ref=settings" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Like Us End -->
    <div id="sidebarContent">
        <!-- Recent Post Widget start -->
        <div class="widget">
            <h2 class="heading">Recent Posts</h2>
            <div class="videolistsmall">
                <ul class="bloglist">
                    {% for recent in recentPost|slice(0,4) %}
                        <li>
                            <div class="media">
                                <a href="{{ path('blog_main_post', { 'id' : recent.id }) }}" class="pull-left">
                                    {% if recent.imagePath != null %}
                                        <img src="{{ recent.imagePath }}" alt="" class="media-object img-responsive hovereffect" />
                                    {% else %}
                                        {% image '@BlogMainBundle/Resources/public/VideoMagazine/images/img16.jpg' output='assets/img/images/' %}
                                        <img src="{{ asset_url }}" alt="" class="media-object img-responsive hovereffect" />
                                        {% endimage %}
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <h5><a href="{{ path('blog_main_post', { 'id' : recent.id }) }}">{{ recent.title }}</a></h5>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>{{ recent.dateCreated|date('Y-m-d') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Recent Post Widget end -->
        <!-- Newsletter start -->
        {#<div class="widget">#}
        {#<h2 class="heading">Signup For Our Newsletter</h2>#}
        {#<div class="commentslist">#}
        {#<ul>#}
        {#<li>#}
        {#<form class="form-inline" role="form">#}
        {#<div class="form-group">#}
        {#<label class="sr-only" for="exampleInputEmail2">Email address</label>#}
        {#<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">#}
        {#</div>#}
        {#<button type="submit" class="btn btn-primary backcolor">Sign in</button>#}
        {#</form>#}
        {#</li>#}
        {#</ul>#}
        {#</div>#}
        {#&#123;&#35;<img src="images/adv2.gif" class="img-responsive" alt="">&#35;&#125;#}
        {#</div>#}
        {#<div class="clearfix"></div>#}
        <!-- Newsletter End -->
        <!-- Advertisement start -->
        <div class="widget">
            <script type="text/javascript">
                google_ad_client = "ca-pub-5642576944854449";
                google_ad_slot = "2274297417";
                google_ad_width = 300;
                google_ad_height = 600;
            </script>
            <!-- Skyscraper -->
            <script type="text/javascript"
                    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        <div class="clearfix"></div>
        <!-- Advertisement End -->
        <!-- Like Us start -->
        <div class="widget">
            <h2 class="heading">Like Us On Facebook</h2>
            <div class="commentslist">
                <ul>
                    <li>
                        <div style="" class="fb-like" data-href="https://www.facebook.com/Best-Of-Webflix-999625316764737/?ref=settings" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Like Us End -->
    </div>
</div>
{% block customJavascripts %}
    <script type="text/javascript">



    </script>
{% endblock %}