<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Best Of Webflix</title>
    <!--// Responsive //-->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {% if metaTags is defined %}
        {% block metaTagsView %}{% endblock %}
    {% else %}
        {{ render(controller('BlogMainBundle:Default:mainMetaTag')) }}
    {% endif %}


    {% image '@BlogMainBundle/Resources/public/VideoMagazine/images/favicon.ico' output='assets/img/favicon.ico' %}
    <link href="{{ asset_url }}" alt="Blog favicon" rel="icon" type="image/x-icon">
    {% endimage %}
    <!--// Stylesheets //-->
    {% stylesheets
    'bundles/blogmain/VideoMagazine/css/style.css'
    'bundles/blogmain/VideoMagazine/css/bootstrap.css'
    filter='cssrewrite'
    output='assets/css/compiled/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {#<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>#}
    {% block stylesheets %}
    {% endblock stylesheets %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71062323-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<!-- Facebook Start -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=201860866566662";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Facebook End -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Header Start -->
    <header class="style2">
        <!-- Header Top Strip Start -->
        <div class="topstrip">
            <div class="custom-container">
                <div class="row">
                    <!-- Top Categories Start -->
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-6">
                        <div class="topcategories">
                            <!-- navbar Start -->
                            {{ render(controller('BlogMainBundle:Default:navBarTop')) }}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Top Categories End -->
                    <!-- Social Network Start -->
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <div class="socialnetworks">
                            {{ render(controller('BlogMainBundle:Default:socialLinks')) }}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Social Network End -->
                </div>
            </div>
        </div>
        <!-- Header Top Strip End -->
        <!-- Logo + Search + Advertisment Start -->
        <div class="logobar">
            <div class="custom-container">
                <div class="row">
                    <!-- Logo Start -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="logo">
                            <a href="{{ path('blog_main_homepage') }}">
                                {% image '@BlogMainBundle/Resources/public/images/bestOfWebflix_logo.png' output='assets/img/bestOfWebflix_logo.png' %}
                                <img src="{{ asset_url }}" alt="Best Of Webflix" class="img-responsive hovereffect" />
                                {% endimage %}
                            </a>
                        </div>
                    </div>
                    <!-- Logo End -->
                    <!-- Advertisment Start -->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <figure class="header-adv">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- Leaderboard -->
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:728px;height:90px"
                                 data-ad-client="ca-pub-0207981439446909"
                                 data-ad-slot="9713062251"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                            {#<a href="#"><img src="images/adv.gif" class="img-responsive" alt="Advertisment" /></a>#}
                        </figure>
                    </div>
                    <!-- Advertisment End -->
                </div>
            </div>
        </div>
        <!-- Logo + Search + Advertisment End -->
        <!-- Navigation Strip Start -->
        <div class="navigationstrip bordercolor-top">
            <div class="custom-container">
                <div class="row">
                    <!-- Navigation Start -->
                    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-4">
                        <div class="navigation">
                            <!-- navbar Start -->
                            <div class="navbar yamm navbar-default">
                                <div class="row">
                                    <div class="navbar-header">
                                        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                                            <i class="fa fa-bars"></i> Menu
                                        </button>
                                    </div>
                                    <div id="navbar-collapse-1" class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <!-- Home Page Styles Start -->
                                            <li>
                                                <a href="{{ path('blog_main_homepage') }}">Home</a>
                                            </li>
                                            <!-- Home Page Styles End -->
                                            <!-- Video Pages Start -->
                                            <li class="dropdown">
                                                <a href="" data-toggle="dropdown" class="dropdown-toggle">Genres</a>
                                                <ul class="dropdown-menu">
                                                    {{ render(controller('BlogMainBundle:Default:genres')) }}
                                                </ul>
                                            </li>
                                            <!-- Video Pages End -->
                                            <li class="dropdown yamm-fw">
                                                <a href="contact-us.html" data-toggle="dropdown" class="dropdown-toggle">Contact Us</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="yamm-content">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <a href="contact-us.html">
                                                                        <strong>
                                                                            <i class="fa fa-envelope"></i>
                                                                            View contact us page or write your message here
                                                                        </strong>
                                                                    </a>
                                                                    <hr>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                    <div class="contact-forms">
                                                                        <form>
                                                                            <div class="row">
                                                                                <div class="col-lg-6 col-md-6 col-sm-12 .col-xs-12">
                                                                                    <input type="text" placeholder="Your Name">
                                                                                </div>
                                                                                <div class="col-lg-6 col-md-6 col-sm-12 .col-xs-12">
                                                                                    <input type="text" placeholder="Email Address">
                                                                                </div>
                                                                                <div class="col-lg-12 col-md-12 col-sm-12 .col-xs-12">
                                                                                    <input type="text" placeholder="Subject">
                                                                                </div>
                                                                                <div class="col-lg-12 col-md-12 col-sm-12 .col-xs-12">
                                                                                    <textarea placeholder="Message"></textarea>
                                                                                </div>
                                                                                <div class="col-lg-12 col-md-12 col-sm-12 .col-xs-12">
                                                                                    <button type="button" class="btn btn-primary backcolor">
                                                                                        <span>Submit message</span>
                                                                                        <i class="fa fa-angle-right"></i>
                                                                                    </button>
                                                                                    <p>Make sure you put a valid email.</p>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-xs">
                                                                    <div class="dropdownmap">
                                                                        <iframe src="https://maps.google.com/?ie=UTF8&amp;ll=51.428327,-0.086517&amp;spn=0.64303,1.674042&amp;t=m&amp;z=10&amp;output=embed"></iframe>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div style="padding-top: 15px; float: left;" class="fb-like" data-href="https://www.facebook.com/Best-Of-Webflix-999625316764737/?ref=settings" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- navbar End -->
                        </div>
                    </div>
                    <!-- Navigation End -->
                    <!-- Login Start -->
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-8">
                        <div class="loginsec pull-right">
                            <div style="float:right;">
                                <a href="{{ path('user_login') }}" class="colorhover"><i class="fa fa-lock"></i>Login</a>
                                <a href="{{ path('user_register') }}" class="colorhover"><i class="fa fa-sign-in"></i>Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <!-- Login End -->
                </div>
            </div>
        </div>
        <!-- Navigation Strip End -->
    </header>
    <!-- Header End -->
    <!-- Contents Start -->
    <div class="contents">
        <div class="custom-container">
            {% block body %}{% endblock %}
        </div>
    </div>
    <!-- Contents End -->
    <!-- Footer Start -->
    <footer class="style1">
        <div class="custom-container">
            <hr />
            <div class="row footerwidgets">
                <div class="col-lg-3 col-md-6 col-sm-6 .col-xs-12">
                    <!-- Text Widget start -->
                    <div class="widget">
                        <div class="text-widget">
                            <div class="textsec">
                                <a href="{{ path('blog_main_homepage') }}">
                                    {% image '@BlogMainBundle/Resources/public/images/bestOfWebflix_logo.png' output='assets/img/bestOfWebflix_logo.png' %}
                                    <img src="{{ asset_url }}" alt="Best Of Webflix" class="img-responsive hovereffect" />
                                    {% endimage %}
                                </a>
                                <br /><br />
                                <p>
                                    Best Of Webflix
                                </p>
                                <ul class="contactdetail">
                                    <li><i class="fa fa-mobile"></i>/li>
                                    <li><i class="fa fa-envelope"></i><a href="mailto:inf@bestofwebflix.com">info@bestofwebflix.com</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Text Widget start -->
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 .col-xs-12">
                    <div class="widget">
                        <h2 class="heading">Send us a message</h2>
                        <div class="contact-forms">
                            <form>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 .col-xs-12">
                                        <input type="text" placeholder="Your Name" />
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 .col-xs-12">
                                        <input type="text" placeholder="Email Address" />
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 .col-xs-12">
                                        <input type="text" placeholder="Subject" />
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 .col-xs-12">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 .col-xs-12">
                                        <button type="button" class="btn btn-primary backcolor"><span>Submit message</span><i class="fa fa-angle-right"></i></button>
                                        <p>Make sure you put a valid email.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 .col-xs-9">
                    <p class="copyrights">© 2014. All rights reserved. Designed by <a href="#"><strong>SoftCircles</strong></a></p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 .col-xs-3">
                    <div class="socialnetworks">
                        {{ render(controller('BlogMainBundle:Default:socialLinks')) }}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <a href="#" class="pull-right gotop btn btn-primary backcolor"> <i class="fa fa-arrow-up"></i> </a>
</div>
<!-- Wrapper End -->
<!--// Javascript //-->
{% javascripts
'@BlogMainBundle/Resources/public/VideoMagazine/js/jquery-1.11.1.min.js'
'@BlogMainBundle/Resources/public/VideoMagazine/js/jquery-ui.min.js'
'@BlogMainBundle/Resources/public/VideoMagazine/js/bootstrap.min.js'
'@BlogMainBundle/Resources/public/VideoMagazine/js/functions.js'
'@BlogMainBundle/Resources/public/VideoMagazine/js/responsiveCarousel.js'
'@BlogMainBundle/Resources/public/VideoMagazine/js/slimbox2.js'
'@BlogMainBundle/Resources/public/VideoMagazine/js/responsive-paginate.js'
output='assets/js/compiled/main.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block customJavascripts %}{% endblock %}
{% block javascripts %}{% endblock javascripts %}
</body>
</html>