<li>
    <!-- Content container to add padding -->
    <div class="yamm-content">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="list-unstyled">
                    {% for genre in genres|slice(0,4) %}
                        <li><a href="{{ path('blog_main_genre', { 'id' : genre.id }) }}">{{ genre.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="list-unstyled">
                    {% for genre in genres|slice(4,4) %}
                        <li><a href="{{ path('blog_main_genre', { 'id' : genre.id }) }}">{{ genre.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="list-unstyled">
                    {% for genre in genres|slice(8,4) %}
                        <li><a href="{{ path('blog_main_genre', { 'id' : genre.id }) }}">{{ genre.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</li>
