{% extends 'base.html.twig' %}
{% block body %}

<div class="row">
    {% for post in posts|slice(0,4) %}
    <div class="col-lg-3 col-md-3 col-sm-6 .col-xs-6">
        <!-- Video Box Start -->
        <div class="videobox">
            <figure>
                <!-- Video Thumbnail Start -->
                <a href="{{ path('blog_main_post', { 'id' : post.id }) }}">
                    {% if post.imagePath %}
                        <img src="{{ post.imagePath }}" alt="" class="img-responsive hovereffect" />
                    {% else %}
                        {% image '@BlogMainBundle/Resources/public/VideoMagazine/images/img6.jpg' output='assets/img/img6.jpg' %}
                        <img src="{{ asset_url }}" alt="" class="img-responsive hovereffect" />
                        {% endimage %}
                    {% endif %}
                </a>
                <!-- Video Thumbnail End -->
                <!-- Video Title + Info Start -->
                <figcaption>
                    <h2><a href="{{ path('blog_main_post', { 'id' : post.id }) }}">{{ post.title }}</a></h2>
                    <ul>
                        <li><i class="fa fa-heart"></i>10</li>
                        <li><i class="fa fa-comments"></i>10</li>
                        <li><i class="fa fa-clock-o"></i>{{ post.dateCreated|date('Y-m-d') }}</li>
                    </ul>
                    <div class="clearfix"></div>
                </figcaption>
                <!-- Video Title + Info End -->
            </figure>
        </div>
        <!-- Video Box End -->
    </div>
    {% endfor %}
</div>
<div class="row">
    <!-- Content Column Start -->
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 equalcol conentsection">
        <!-- Video Slider Start -->
        <div class="videoslider backcolor">
            <div class='tabbed_content'>
                <div class='tabs'>
                    <div class='moving_bg'>
                        <span class="pointer"></span>
                    </div>
                    {% for post in posts|slice(4,8) %}
                        <div class='tab_item'>
                            <h5>{{ post.title }}</h5>
                            <span class="hidden-xs">{{ post.dateCreated|date('Y-m-d') }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class='slide_content'>
                    <div class='tabslider'>
                        {% for post in posts|slice(4,8) %}
                            <div class="video">
                                <!-- Video Box Start -->
                                <div class="videobox">
                                    <figure>
                                        <!-- Video Thumbnail Start -->
                                        <div style="width: 100%; max-height: 400px; overflow: hidden;">
                                            <a href="{{ path('blog_main_post', { 'id' : post.id }) }}">
                                                {% if post.imagePath %}
                                                    <img src="{{ post.imagePath }}" alt="" class="img-responsive hovereffect" />
                                                {% else %}
                                                    {% image '@BlogMainBundle/Resources/public/VideoMagazine/images/img6.jpg' output='/images/img6.jpg' %}
                                                    <img src="{{ asset_url }}" alt="" class="img-responsive hovereffect"/>
                                                    {% endimage %}
                                                {% endif %}
                                            </a>
                                        </div>
                                        <!-- Video Thumbnail End -->
                                        <a href="{{ path('blog_main_post', { 'id' : post.id }) }}" class="playicon"><i class="fa fa-play-circle-o"></i></a>
                                        <!-- Video Title + Info Start -->
                                        <figcaption>
                                            <h2><a href="{{ path('blog_main_post', { 'id' : post.id }) }}">{{ post.title }}</a></h2>
                                            <ul>
                                                <li><i class="fa fa-heart"></i>1056</li>
                                                <li><i class="fa fa-comments"></i>58</li>
                                                <li><i class="fa fa-clock-o"></i>{{ post.dateCreated|date('Y-m-d') }}</li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </figcaption>
                                        <!-- Video Title + Info End -->
                                    </figure>
                                </div>
                                <!-- Video Box End -->
                            </div>
                        {% endfor %}
                        <!-- content goes here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Slider End -->
        <!-- Contents Section Started -->
        <div class="sections">
            <h2 class="heading">Most Viewed Today</h2>
            <div class="clearfix"></div>
            <div class="row">
                {% for post in posts|slice(8,24) %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <!-- Video Box Start -->
                    <div class="videobox2">
                        <figure>
                            <!-- Video Thumbnail Start -->
                            <a href="{{ path('blog_main_post', { 'id' : post.id }) }}">
                                {% if post.imagePath %}
                                    <img src="{{ post.imagePath }}" alt="" class="img-responsive hovereffect" />
                                {% else %}
                                    {% image '@BlogMainBundle/Resources/public/VideoMagazine/images/img14.jpg' output='assets/img/img6.jpg' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive hovereffect" />
                                    {% endimage %}
                                {% endif %}
                            </a>
                            <!-- Video Thumbnail End -->
                            <!-- Video Info Start -->
                            <div class="vidopts">
                                <ul>
                                    <li><i class="fa fa-heart"></i>1056</li>
                                    <li><i class="fa fa-clock-o"></i>{{ post.dateCreated|date('Y-m-d') }}</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <!-- Video Info End -->
                        </figure>
                        <!-- Video Title Start -->
                        <h4><a href="{{ path('blog_main_post', { 'id' : post.id }) }}">{{ post.title }}</a></h4>
                        <!-- Video Title End -->
                    </div>
                    <!-- Video Box End -->
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Contents Section End -->
        <div class="clearfix"></div>
        <!-- Contents Section Started -->
    </div>
    <!-- Content Column End -->
    <!-- Dark Sidebar Start -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 equalcol blacksidebar">
        <!-- Categories Widget start -->
        <div class="widget">
            <h2 class="heading">Browse</h2>
            <div class="categorieslist">
                <ul>
                     {{ render(controller('BlogMainBundle:Default:browse')) }}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Categories Widget End -->
        <!-- Tags Widget start -->
        <div class="widget">
            <h2 class="heading">Tags</h2>
            <div class="tagswidget">
                {% for genre in genres %}
                    <a href="{{ path('blog_main_genre', { 'id' : genre.id }) }}" class="btn btn-primary btn-xs backcolor">{{ genre.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Tags Widget End -->
        <!-- Advertisement start -->
        <div class="widget">
            {#<img src="images/adv1.gif" class="img-responsive" alt="">#}
        </div>
        <div class="clearfix"></div>
        <!-- Advertisement End -->
    </div>
    <!-- Dark Sidebar End -->
</div>

    <div class="row">

        <nav>
            <ul class="pager">
                {% if currentPage != 1 %}
                <li><a href="{{ path('blog_main_homepage', { page : currentPage - 1}) }}">Previous</a></li>
                {% endif %}
                <li><a href="{{ path('blog_main_homepage', { page : currentPage + 1}) }}">Next</a></li>
            </ul>
        </nav>

    </div><!-- /.blog-main -->

{% endblock body %}
